@charset "UTF-8";
.carousel-inner h5 {
 
  font-weight: bold;
  font-size: 2.4em;
}

.text-image {
    position: relative;
    width: 500px;
  }
  
  .text-image img {
    width: 100%;
  }
  
  .text-image p {
    position: absolute;
    top: 25%;
    left: 39%;
    font-size: 60px;
    color: #ffffff;
  }



.news__items {
    margin: 60px auto 0;
    width: 800px;
    max-width: 100%;
  }
  
  @media (max-width: 767px) {
    .news__items {
      margin-top: 38px;
    }
  }
  
  .news__item {
    border-bottom: 1px solid #707070;
  }
  
  .news__item:last-child {
    border: none;
  }
  
  .info {
    padding: 20px  0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .info {
      display: block;
      padding: 12px 0;
    }
  }
  
  .info__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 185px;
    padding-top: 2px;
  }
  
  @media (max-width: 767px) {
    .info__meta {
      width: 100%;
      padding-top: 0;
    }
  }
  
  .info__published {
    width: 105px;
    display: inline-block;
    padding-top: 3px;
  }
  
  @media (max-width: 767px) {
    .info__published {
      width: auto;
    }
  }
  
  .info__label {
    width: 80px;
  }
  
  @media (max-width: 767px) {
    .info__label {
      width: auto;
      margin-left: auto;
    }
  }
  
  .info__label a {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 8px;
    background: #666;
    border-radius: 4px;
    text-decoration: none;
    line-height: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media (max-width: 767px) {
    .info__label a {
      padding: 4px 8px;
    }
  }
  
  .info__label.info__label--type01 a {
    background: #3f51b5;
    text-decoration: none;
  }
  
  .info__label.info__label--type02 a {
    background: #e81919;
  }
  
  .info__title {
    line-height: 1.25;
    width: calc(100% - 105px - 80px);
    padding: 5px 0 0 20px;
  }
  
  @media (max-width: 767px) {
    .info__title {
      width: 100%;
      margin-top: 6px;
      padding: 0;
    }
  }
  
  .info__title a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .news__link {
    text-align: center;
    margin-top: 44px;
  }
  
  .news__link a {
    text-decoration: none;
    color: #e81919;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700;
  }
  
  .news__link a::after {
    content: "";
    width: 7px;
    height: 11px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -1px;
    background: transparent url(../img/news-arrow.png) no-repeat center center/contain;
  }

  .contact {
    background: #efefef;
  }
  
  .contact__item {
    margin: 80px auto 0;
    padding: 60px;
    background: #fff;
    width: 800px;
    max-width: 100%;
  }
  
  @media (max-width: 767px) {
    .contact__item {
      padding: 20px;
      margin-top: 26px;
    }
  }
  
  .contact__controls {
    margin: 0;
  }
  
  .contact__control {
    margin-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .contact__control {
      display: block;
      margin-bottom: 24px;
    }
  }
  
  .contact__control:last-child {
    margin-bottom: 0;
  }
  
  .contact__control dt {
    width: 160px;
    padding: 6px 0 0;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .contact__control dt {
      width: 100%;
      padding-top: 0;
    }
  }
  
  .contact__control dd {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 0;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .contact__control dd {
      width: 100%;
      margin-top: 8px;
    }
  }
  
  .contact__label {
    font-size: 16px;
    font-weight: 700;
  }
  
  @media (max-width: 767px) {
    .contact__label {
      font-size: 16px;
      display: inline-block;
    }
  }
  
  .contact__label--required {
    position: relative;
  }
  
  @media (max-width: 767px) {
    .contact__label--required {
      padding-right: 54px;
    }
  }
  
  .contact__label--required::after {
    content: "必須";
    position: absolute;
    background: #e81919;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    padding: 4px 8px;
    width: 44px;
    display: block;
    top: calc(100% + 8px);
    left: 0;
  }
  
  @media (max-width: 767px) {
    .contact__label--required::after {
      top: 50%;
      left: auto;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }
  
  .contact__required {
    background: #e81919;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 1px 8px;
    width: 46px;
    display: block;
    margin-top: 6px;
  }
  
  .contact__radio {
    margin-top: 26px;
    padding: 0;
  }
  
  @media (max-width: 767px) {
    .contact__radio {
      margin-top: 26px;
    }
  }
  
  .contact__radio-item {
    margin-right: 32px;
  }
  
  .contact__radio-item:last-child {
    margin-right: 0;
  }
  
  @media (max-width: 767px) {
    .contact__radio-item {
      margin-bottom: 16px;
      margin-right: 0;
      display: block;
    }
  }
  
  .contact__check {
    margin-top: 58px;
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .contact__check {
      margin-top: 24px;
    }
  }
  
  .contact__check a {
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: 700;
  }
  
  .contact__submit {
    margin-top: 30px;
    text-align: center;
  }
  
  .form-input {
    width: 100%;
    border: 1px solid #707070;
    padding: 4px 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 38px;
  }
  
  @media (max-width: 767px) {
    .form-input {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  
  .form-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent url(../img/select-arrow.png) no-repeat center right 12px/17px 14px;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    padding: 3px 16px;
    width: 100%;
    border: 1px solid #707070;
    height: 38px;
  }
  
  @media (max-width: 767px) {
    .form-select {
      padding-top: 3px;
      padding-bottom: 3px;
      background-position: center right 10px;
    }
  }
  
  .form-select::-ms-expand {
    display: none;
  }
  
  .form-textarea {
    width: 100%;
    height: 240px;
    border: 1px solid #707070;
    resize: none;
    padding: 10px 16px;
    line-height: 1.625;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    vertical-align: bottom;
  }
  
  @media (max-width: 767px) {
    .form-textarea {
      height: 180px;
    }
  }
  
  .form-radio {
    display: none;
  }
  
  .form-radio + span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 28px;
    position: relative;
  }
  
  .form-radio + span::before, .form-radio + span::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .form-radio + span::before {
    background: #fff;
    border: 1px solid #707070;
    display: block;
    left: 0;
    width: 20px;
    height: 20px;
  }
  
  .form-radio + span::after {
    background: #3f51b5;
    border: 1px solid transparent;
    left: 5px;
    width: 10px;
    height: 10px;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    opacity: 0;
  }
  
  .form-radio:checked + span::after {
    opacity: 1;
  }
  
  .form-checkbox {
    display: none;
  }
  
  .form-checkbox + span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 50px;
    position: relative;
  }
  
  @media (max-width: 767px) {
    .form-checkbox + span {
      padding-left: 46px;
    }
  }
  
  .form-checkbox + span::before, .form-checkbox + span::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .form-checkbox + span::before {
    background: #fff;
    border: 1px solid #707070;
    display: block;
    left: 0;
    width: 25px;
    height: 25px;
  }
  
  .form-checkbox + span::after {
    border: 1px solid transparent;
    left: 0;
    width: 25px;
    height: 25px;
    background: transparent url(../img/icon-check.png) no-repeat center center/contain;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    opacity: 0;
  }
  
  .form-checkbox:checked + span::after {
    opacity: 1;
  }

  .footer {
    padding: 48px 0 24px;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background: linear-gradient(to bottom, #666, #333);
  }
  
  @media (max-width: 767px) {
    .footer {
      padding-top: 62px;
      padding-bottom: 24px;
    }
  }
  
  .footer__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .footer__contents {
      display: block;
    }
  }
  
  .footer__left {
    width: 35%;
    padding: 12px 0 0;
  }
  
  @media (max-width: 767px) {
    .footer__left {
      width: 100%;
      padding: 0;
    }
  }
  
  .footer__center {
    width: 50%;
    padding: 8px 10px 0;
  }
  
  @media (max-width: 767px) {
    .footer__center {
      width: 100%;
      margin-top: 52px;
      padding: 0;
    }
  }
  
  .footer__right {
    width: 20%;
    padding: 12px 0;
  }
  
  @media (max-width: 1247px) {
    .footer__right {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .footer__right {
      width: 100%;
      margin-top: 24px;
      padding: 0;
    }
  }
  
  .footer__logo a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .footer__logo img {
    width: 205px;
  }
  
  .footer__info {
    margin-top: 22px;
    color: #fff;
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .footer__info {
      margin-top: 20px;
    }
  }
  
  .footer__info p {
    margin-top: 0;
    margin-bottom: 6px;
  }
  
  @media (max-width: 767px) {
    .footer__info p {
      margin-bottom: 6px;
    }
  }
  
  .footer__info p:last-child {
    margin-bottom: 0;
  }
  
  .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__nav ul li {
    margin-right: 40px;
    margin-bottom: 12px;
  }
  
  @media (max-width: 1247px) {
    .footer__nav ul li {
      margin-right: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .footer__nav ul li {
      margin-right: 16px;
    }
  }
  
  .footer__nav ul li:last-child {
    margin-right: 0;
  }
  
  .footer__nav ul li a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer_sns ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer_sns ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  .footer_sns ul li {
    margin-right: 16px;
  }
  
  .footer_sns ul li:last-child {
    margin-right: 0;
  }
  
  .footer_sns ul li a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer_sns ul li img {
    width: 30px;
    vertical-align: bottom;
  }
  
  .footer__copy {
    margin-top: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .footer__copy {
      margin-top: 40px;
    }
  }
  
  .footer__copy a {
    text-decoration: none;
    color: #fff;
  }
  
  .totop {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 100;
    visibility: visible;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media (max-width: 1247px) {
    .totop {
      right: 16px;
      bottom: 16px;
    }
  }
  
  @media (max-width: 767px) {
    .totop {
      right: 10px;
      bottom: 10px;
    }
  }
  
  .totop.is-show {
    visibility: visible;
  }
  
  .totop a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .totop img {
    width: 60px;
    vertical-align: bottom;
  }
  
  @media (max-width: 767px) {
    .totop img {
      width: 42px;
    }
  }
  
  .footer {
    padding: 54px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background: linear-gradient(to bottom, #666, #333);
  }
  
  @media (max-width: 767px) {
    .footer {
      padding-top: 62px;
      padding-bottom: 0;
    }
  }
  
  .footer__copy {
    background: transparent url(../img/copy-bg.png) no-repeat bottom center/618px 80px;
    min-height: 82px;
    margin-top: 74px;
    padding-top: 38px;
    padding-bottom: 24px;
  }
  
  @media (max-width: 1247px) {
    .footer__copy {
      margin-right: -24px;
      margin-left: -24px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media (max-width: 767px) {
    .footer__copy {
      margin-top: 42px;
      padding-top: 32px;
      padding-bottom: 10px;
      margin-right: -16px;
      margin-left: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }