@charset "UTF-8";

.top{
    background-image:url(./sunset-2021266_1920.jpg); /* 画像のURLを指定       */
    background-size:cover;                 /* 画像のサイズを指定    */
    width:100%;                              /* 横幅のサイズを指定    */
    height:400px;
}

/* フッター */

.footer {
    padding: 48px 0 24px;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background: linear-gradient(to bottom, #666, #333);
  }
  
  @media (max-width: 767px) {
    .footer {
      padding-top: 62px;
      padding-bottom: 24px;
    }
  }
  
  .footer__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  @media (max-width: 767px) {
    .footer__contents {
      display: block;
    }
  }
  
  .footer__left {
    width: 35%;
    padding: 12px 0 0;
  }
  
  @media (max-width: 767px) {
    .footer__left {
      width: 100%;
      padding: 0;
    }
  }
  
  .footer__center {
    width: 50%;
    padding: 8px 10px 0;
  }
  
  @media (max-width: 767px) {
    .footer__center {
      width: 100%;
      margin-top: 52px;
      padding: 0;
    }
  }
  
  .footer__right {
    width: 20%;
    padding: 12px 0;
  }
  
  @media (max-width: 1247px) {
    .footer__right {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .footer__right {
      width: 100%;
      margin-top: 24px;
      padding: 0;
    }
  }
  
  .footer__logo a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .footer__logo img {
    width: 205px;
  }
  
  .footer__info {
    margin-top: 22px;
    color: #fff;
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .footer__info {
      margin-top: 20px;
    }
  }
  
  .footer__info p {
    margin-top: 0;
    margin-bottom: 6px;
  }
  
  @media (max-width: 767px) {
    .footer__info p {
      margin-bottom: 6px;
    }
  }
  
  .footer__info p:last-child {
    margin-bottom: 0;
  }
  
  .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__nav ul li {
    margin-right: 40px;
    margin-bottom: 12px;
  }
  
  @media (max-width: 1247px) {
    .footer__nav ul li {
      margin-right: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .footer__nav ul li {
      margin-right: 16px;
    }
  }
  
  .footer__nav ul li:last-child {
    margin-right: 0;
  }
  
  .footer__nav ul li a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer_sns ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer_sns ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  .footer_sns ul li {
    margin-right: 16px;
  }
  
  .footer_sns ul li:last-child {
    margin-right: 0;
  }
  
  .footer_sns ul li a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .footer_sns ul li img {
    width: 30px;
    vertical-align: bottom;
  }
  
  .footer__copy {
    margin-top: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .footer__copy {
      margin-top: 40px;
    }
  }
  
  .footer__copy a {
    text-decoration: none;
    color: #fff;
  }
  
  .totop {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 100;
    visibility: visible;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  @media (max-width: 1247px) {
    .totop {
      right: 16px;
      bottom: 16px;
    }
  }
  
  @media (max-width: 767px) {
    .totop {
      right: 10px;
      bottom: 10px;
    }
  }
  
  .totop.is-show {
    visibility: visible;
  }
  
  .totop a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .totop img {
    width: 60px;
    vertical-align: bottom;
  }
  
  @media (max-width: 767px) {
    .totop img {
      width: 42px;
    }
  }
  
  .footer {
    padding: 54px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background: linear-gradient(to bottom, #666, #333);
  }
  
  @media (max-width: 767px) {
    .footer {
      padding-top: 62px;
      padding-bottom: 0;
    }
  }
  
  .footer__copy {
    background: transparent url(../img/copy-bg.png) no-repeat bottom center/618px 80px;
    min-height: 82px;
    margin-top: 74px;
    padding-top: 38px;
    padding-bottom: 24px;
  }
  
  @media (max-width: 1247px) {
    .footer__copy {
      margin-right: -24px;
      margin-left: -24px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  
  @media (max-width: 767px) {
    .footer__copy {
      margin-top: 42px;
      padding-top: 32px;
      padding-bottom: 10px;
      margin-right: -16px;
      margin-left: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }